{% extends 'main.html' %}

{% block content %}

<p class="titreaffiche">Details sur l'avion {{avion.nom}}</p>

<table class="tg">
<thead>
  <tr>
    <th class="tg-0lax">Catégorie</th>
    <th class="tg-0lax">Valeur</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax">Catégorie</td>
    <td class="tg-0lax">{{avion.categorie}}</td>
  </tr>
  <tr>
    <td class="tg-0lax">Date de production</td>
    <td class="tg-0lax">{{avion.date_production}}</td>
  </tr>
  <tr>
    <td class="tg-0lax">Nombre d'appareils</td>
    <td class="tg-0lax">{{avion.nombre_appareils}}</td>
  </tr>
</tbody>
</table>

<p class="presentationaffiche">{{avion.presentation}}</p>

{% endblock %}
