{% extends "application/main.html" %}

{% block content %}
<form class="form-horizontal" method="post" action="/application/traitementc/">
{% csrf_token %}
<fieldset>
<legend>Ajout d'une catégorie</legend>
  <ul>
    {{form.as_ul}}
  </ul>
  <input type="submit" value="envoyer les données"/>
</fieldset>
</form>

<p class="presentationaffiche">Catégories déjà présente : </p>

<ol>
    {% for l in listec %}
        <li> {{l}} <a href="/application/affichec/{{l.id}}"> | Détails </a><a href="/application/updatec/{{l.id}}"> | Update </a><a href="/application/deletec/{{l.id}}"> | Delete</a></li>
    {% endfor %}
</ol>

{% endblock %}