{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/airplane.ico' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@340&display=swap" rel="stylesheet">
    <title>Wikiplane</title>
</head>
<body>

    <div class="header">
            <img class="photorafale" src="{% static 'images/rafale.jpg' %}" alt="Photo Rafale NG">
            <h1 class="text">Wikiplane</h1>
            <h3 class="text">Votre catalogue web de l'aviation</h3>
    </div>

    <ul class="navbar">
        <li class="liens"><p><a href="{% url 'application:index' %}">Home</a></p></li>
        <li class="liens"><p><a href="{% url 'application:ajout' %}">Ajout</a></p></li>
        <li class="liens"><p><a href="{% url 'application:pageedit' %}">Modification</a></p></li>
        <li class="liens"><p><a href="{% url 'application:pagedelete' %}">Suppression</a></p></li>
    </ul>

    {% block content %}

    {% endblock %}

    <footer class="footer">
        Site web fait par Louis PLUVIOSE - RT13 | Django / HTML5 / CSS3
    </footer>
</body>
</html>